.content span{
	font-size: 16px;
}
.content{
    margin-top: 20px;
    margin-bottom: 35px;
    color: #aeaeae;	
}
.text{
	margin-right: 50px;
	color: black;
}
table{
	width: 100%;
    border-collapse: collapse;
    margin-top:13px;
}
table tr td{
	border:1px solid #dfdfdf;
    height:39px;
    text-align: center;
    padding-left:5px;
    padding-right: 5px;
}
table thead{
	background:#fafafa;
    color:#999999;
}
tbody{
    color:#666;
}
tbody tr td{
    height:40px;
}
.route ul li{
	float: left;
	margin-right: 25px;
	width: 180px;
	text-align: center;
	color: #aeaeae;
	padding-bottom:8px;
	height: 50px;
	margin-bottom:20px;
}
.route ul{
	border-bottom: 5px solid #aeaeae;
	height: 50px;
	width: auto;
	margin-bottom: 10px;
	display:inline-block;
}
.route ul li span{
	display:block;
}
.route ul li.orange{
	border-bottom: 5px solid #ff6200;
	color: #ff6200;
}
.time{
}
