table{
	width: 100%;
    border-collapse: collapse;
    margin-top:20px;
}
table tr td{
	border:1px solid #dfdfdf;
    height:39px;
    text-align: center;
    padding-left:5px;
    padding-right: 5px;
}
table thead{
	background:#fafafa;
    color:#999999;
}
tbody{
    color:#666;
}
tbody tr td{
    height:40px;
}
.product{
	margin-right: 20px;
	font-size: 16px;
	font-weight: bold;
}
.content{
	margin-top: 20px;
}
.layel{
    width: 500px;
    background: #fff;
    padding:10px 30px;
    z-index: 999;
}
.disablebtn{
    width: 100px;
    height:30px;
    background: #ff6200;
    color:#fff;
    margin-top: 100px;
}
.ablebtn{
    width: 100px;
    height:30px;
    background: #ff6200;
    color:#fff;
    margin-top: 100px;
}
.save,.cancel{
    width: 100px;
    height:30px;
    background: #ff6200;
    color:#fff;
    margin-top: 30px;
}
.cancel{
    background: #fff;
    color:#666;
}
.text{
	text-align: center;
	margin-top: 70px;
}
.pop2{
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    z-index: 9999;
    display: none;
}
.able{
	display: none;
}
